#boardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .board {
    max-width: 280px;
    display: flex;
    flex-wrap: wrap;
  }

  .square {
    flex-basis: 40px;
    text-align: center;
    padding-top: 10px;
    height: 30px;
    width: 15px;
    margin: 1px;
  }
  .xHead{
      background-color: aqua;
      border: solid blue;
  }
  .yHead{
      background-color: pink;
      border: solid red;
  }
  .corner{
      background-color: purple;
      border: solid yellowgreen;
  }
  .boardSquare{
    border: 3px solid gray; /* Just for visualization */
  }
  .highlighted{
    background-color: yellow;
  }